.user-card {
  padding: 24px;
  border-radius: 16px;
  gap: 24px;
  height: 314px;
  width:calc( ( 100% - 192px ) / 3 );
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: #262C40;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap:12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #8189A3
}

.block {
  display: flex;
  gap: 14px;
  align-items: center;
}